<div class="ui raised segment">
  <div class="ui four column center aligned grid">
    <div class="middle aligned row">
      <div class="column">
        <div class="ui icon header">
          <i class="user icon"></i>
          {{member.name}}<br>
          Height: {{member.height}}
        </div>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="balance scale icon"></i>
          Ideal Weight: {{idealWeight}}
        </div>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="heartbeat icon"></i>
          BMI: {{bmi}}
        </div>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="medkit icon"></i>
          BMI Category: 
          {{bmiCategory}}
        </div>
      </div>
    </div>
  </div>
</div>