<section class="ui raised segment">
  <header class="ui header">
    {{member.name}}'s Goals
  </header>
  <table class="ui fixed table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Set By</th>  
      <th>Status</th> 
      <th>Update Status</th>
      <th>Delete Goal</th>
    </tr>
    </thead>
    <tbody>
    <div class="ui bulleted list">
      {{#each goals}}
      <tr>
        <td> {{date}} </td>
        <td> {{weight}} </td>
        <td> {{setter}} </td>
        <td> {{status}} </td>
        <td><form class="ui form" action="/trainermemberdashboard/changegoalstatus/{{id}}" method="POST">
            <select class="ui dropdown" name="newstatus">
              <option value="Open">Open</option>
              <option value="Acheived">Acheived</option>
              <option value="Missed">Missed</option>
            </select>   <button class="ui small submit button">Update</button></div></form></td>
        <td><a href="/trainermemberdashboard/deleteGoal/{{id}}"> <i class="big trash alternate outline icon"></i></a></td>
      {{/each}}
    </tbody>
  </table>


  <header class="ui header">
    Add new Goal for {{member.name}}
  </header>
  <form class="ui form" action="/trainermemberdashboard/addGoal/{{member.id}}" method="POST">
  <div class="two fields">
  <div class="field">
  <label>Goal Date</label>
  <input placeholder="Date" type="date" name="date">
</div>
  <div class="field">
    <label>Goal Weight</label>
    <input placeholder="Weight" type="text" name="weight">
  </div> 
  </div>
  <button class="ui blue submit button">Add Goal</button>
</form>
  

</section>